<div class="icon">
      <div class="icon-title">SimplifyMe</div>
      <ul class="menu">

            <li class="spread">
                  <a class="unit" [routerLink]="'/simplification'"><i class="pi pi-pen-to-square"></i></a>
            </li>

            <li class="spread">
                  <a class="unit" [routerLink]="'/sentiment'"><i class="pi pi-face-smile"></i></a>
            </li>

            <li class="spread">
                  <a class="unit" [routerLink]="'/caption'"><i class="pi pi-image"></i></a>
            </li>
      </ul>
</div>