<div class="card">
    <h2>Image to Text</h2>
    <p-toast />
    @if (!isUploading) {
    <p-fileupload name="images[]" url="http://localhost:8000/api/caption" [customUpload]="true"
        (uploadHandler)="customUpload($event)" [multiple]="true" accept="image/*" maxFileSize="10000000"
        mode="advanced">
        <ng-template #empty>
            <div>Drag and drop files to here to upload.</div>
        </ng-template>
        <!-- <ng-template #content>
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template> -->
    </p-fileupload>
    }@else {
    <div class="card">
        <p-galleria 
            [value]="uploadedFiles" 
            [responsiveOptions]="responsiveOptions"
            [containerStyle]="{ 'width': '640px', 'margin': 'auto' }"
            styleClass="custom-galleria"
            [numVisible]="3">
            <ng-template #item let-item>
                <div class="galleria-item-wrapper">
                    <img [src]="item.itemImageSrc" class="galleria-image" />
                  </div>
            </ng-template>
            <ng-template #thumbnail let-item>
                <img *ngIf="item?.thumbnailImageSrc" [src]="item.thumbnailImageSrc"
                    style="height: 60px; object-fit: cover;" />
            </ng-template>
        </p-galleria>
    </div>
    <p-button label="Try again" icon="pi pi-refresh" (onClick)="resetUpload()" styleClass="back-button" />
    }

</div>